div.scroll {
    background-color: #fed9ff;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}


.one {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    margin: 20px 0px;
}


img {
    width: 100px;
    height: 140px;
    margin: auto 0px;
}

.center {
    margin: auto 20px;
    text-align: start;
    width: 80%;
}

.center-title {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center-finalPrice {
    font-size: 0.8rem;
    color: tomato;
}

.center-cgst {
    font-size: 0.8rem;
    color: #7A9D54;
}

.center-bookprice {
    font-size: 0.8rem;
    color: tomato;
}

.center-discount {
    font-size: 0.8rem;
    color: green;
}

.right {
    margin: auto 10px;
}

.right-right-btn {
    display: flex;
    flex-direction: row-reverse;

}

.right-right-btn button {
    margin: 0px 5px;
}

.right-right-btn p {
    margin: auto 5px;
}

.right-btn {
    display: flex;
    flex-direction: column;
}

.right-btn button {
    margin: auto 20px;
}

.checkout-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
}