<div class="scroll">
  <div class="one" *ngFor="let cartItem of cartItems">
    <img src="{{cartItem.book.imageUrl}}" alt="">
    <div class="center">
      <p class="center-title">{{cartItem.book.title}}</p>
      <p class="center-bookprice">Book Price :- {{cartItem.bookPrice | currency:'INR'}}</p>
      <p class="center-cgst">CGST :- {{cartItem.cgst | currency:'INR'}}</p>
      <p class="center-cgst">SGST :- {{cartItem.cgst | currency:'INR'}}</p>
      <p class="center-discount">DISCOUNT :- {{cartItem.discount | currency:'INR'}}</p>
      <p class="center-finalPrice">FINAL PRICE :- {{cartItem.finalPrice | currency:'INR'}}</p>
    </div>
    <div class="right">
      <div class="right-right-btn">
        <button type="button" class="btn btn-outline-success" (click)="increasesValue(cartItem.id)">+</button>
        <p>{{cartItem.quantity}}</p>
        <button type="button" class="btn btn-outline-danger" (click)="decreaseValue(cartItem.id)">-</button>
      </div>
    </div>

    <div class="right-btn">
      <button type="button" class="btn btn-outline-danger" (click)="deleteItemFromCartItem(cartItem.id)">Delete</button>
    </div>
  </div>
</div>

<div class="checkout-bottom">
  <button type="button" class="btn btn-outline-success" (click)="goToMakePayment()">CheckOut</button>
  <button type="button" class="btn btn-outline-danger">Final Price :- {{sumOfFinalPrice | currency:'INR'}}</button>
  <button type="button" class="btn btn-outline-danger" (click)="deletAllItems()">Delete All</button>
</div>