<div class="up-coming-books">
  <p>UPCOMING BOOKS</p>
  <div class="scrollmenu">
    <div class="parent-scroll">
      <marquee class="marquee-btn" behavior="alternate">
        <div class="marquee-btn-one">
          <div class="scroll-one-div" *ngFor="let book of latestbooks">
            <img src="{{book.imageUrl}}" alt="">
          </div>
        </div>
      </marquee>
    </div>
  </div>
</div>


<div class="container" id="skills">
  <p class="intro-about text-center"></p>

  <div class="container">
    <div class="row">
      <div class="col" *ngFor="let book of books">
        <div class="one">
          <img src="{{ book.imageUrl }}" alt="" />
          <h4>{{ book.title }}</h4>
          <h4>Rating :- {{ book.averageRating }}</h4>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" *ngIf="book.bookQuantity==0" disabled style="color: rgb(208, 28, 28);"
              class="btn btn-warning">Not
              Available</button>
            <button *ngIf="book.bookQuantity>0" class="btn btn-danger" type="button" (click)="addToCart(book.id)">
              Cart
            </button>
            <button class="btn btn-success" type="button" (click)="viewDetails(book.id)" routerLink="/details">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>