.conatiner {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
}

.conatiner img {
    margin: 2rem auto;
    width: 25%;
}

.make-payment-p {
    margin: 10px auto 20px auto;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}