<!-- {{orders|json}} -->

<!-- {{orders[0].cart | json}} -->
<div *ngFor="let order of orders">
  <div class="container" *ngFor="let cartItem of order.cart.cartItems">
    <div class="container-child">
      <img src="{{ cartItem.book.imageUrl }}" alt="" />
      <p>{{ cartItem.book.title }}</p>
      <p>{{ cartItem.quantity }}</p>
      <p>{{ order.orderDate | date }}</p>
    </div>

    <form #myRating="ngForm" (submit)="postRating(myRating, cartItem.book.id)">
      <div class="form-child">
        <select class="select-css" id="authorSelect" ngModel name="rating">
          <option value="" disabled="disabled" style="display: none">
            Rate The Book
          </option>
          <option value="1">⭐</option>
          <option value="2">⭐⭐</option>
          <option value="3">⭐⭐⭐</option>
          <option value="4">⭐⭐⭐⭐</option>
          <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
        <input class="form-control form-control-sm" ngModel name="comment" type="text" placeholder="comments">
        <button class="btn btn-info submit-btn" type="submit">post</button>
      </div>
    </form>
  </div>
</div>