<!-- <div
  id="top"
  style="border: 1px solid black; margin: 1rem"
  *ngFor="let orderItem of orderItems"
>
  <div
    id="top2"
    style="border: 1px solid red; margin: 1rem; text-align: center"
    *ngFor="let book of orderItem.books"
  > -->
<!-- Access and display book properties -->
<!-- <img src="{{ book.imageUrl }}" alt="" />
    <h2>{{ book.title }}</h2>
    <p>{{ book.description }}</p> -->
<!-- Other book properties -->

<!-- Access and display user properties -->
<!-- <h3>{{ orderItem.user.username }}</h3>
    <p>{{ orderItem.user.email }}</p> -->
<!-- Other user properties -->
<!-- </div>
</div> -->

<!-- Don't touch above code -->

<div class="main-one-one" *ngFor="let orderItem of orderItems">
  <div class="main-one-two" *ngFor="let book of orderItem.books">
    <img src="{{ book.imageUrl }}" alt="" />
    <div class="center">
      <h2>{{ book.title }}</h2>
      <h5>Delivery Date :- 2023-09-11</h5>
    </div>
  </div>
</div>
