.container {
    background-color: white;
    height: 200px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-child {
    display: flex;
    flex-direction: row;
    width: 60%;
}

img {
    height: 80%;
    margin-top: 8px;
    margin-left: 10px;
}

.inside-one {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.p-1 {
    font-family: 'Times New Roman', Times, serif;
    margin: auto 10px;
}

p {
    margin: auto 5px;
}

form {
    margin: auto;
    width: 40%;
}

.form-child {
    display: flex;
    flex-direction: column;
}

.form-child select {
    margin: 2px 0px;
}

.form-child input {
    margin: 3px 0px;
}

.submit-btn {
    margin: 4px 0px;
}