<!-- Don't delete this one Abhinav -->
<div *ngFor="let order of orders">
  <div class="container" *ngFor="let cartItem of order?.cart?.cartItems">
    <div class="container-child">
      <img src="{{ cartItem?.book?.imageUrl }}" alt="Book Image" />
      <div class="inside-one">
        <p class="p-1">Order ID: {{ order?.id }}</p>
        <p class="p-1">Book Name: {{ cartItem?.book?.title }}</p>
        <p class="p-1">Book Quantity: {{ cartItem.quantity }}</p>
        <p class="p-1">Order Date : {{ order.orderDate | date }}</p>
      </div>
    </div>

    <form #myRating="ngForm" (submit)="postRating(myRating, cartItem.book.id)">
      <div class="form-child">
        <select class="select-css" id="authorSelect" ngModel name="rating">
          <option value="" disabled="disabled" style="display: none">
            Rate The Book
          </option>
          <option value="1">⭐</option>
          <option value="2">⭐⭐</option>
          <option value="3">⭐⭐⭐</option>
          <option value="4">⭐⭐⭐⭐</option>
          <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
        <input class="form-control form-control-sm" ngModel name="comment" type="text" placeholder="comments">
        <button class="btn btn-info submit-btn" type="submit">post</button>
      </div>
    </form>
  </div>
</div>