<div class="container">
  <div class="top">
    <img src="{{ books.imageUrl }}" alt="" />
    <div class="right">
      <h2 class="title-1">{{ books.title }}</h2>
      <p class="price-1">{{ books.price | currency }}</p>
      <a>Author :- {{ books.author.authorName }}</a>
      <a>Publisher:- {{ books.publishers.publisherName }}</a>
      <a>Category :- {{ books.category }}</a>
      <a>Ratings :- {{ books.averageRating }} ⭐</a>
    </div>
  </div>
  <hr class="style18" />

  <div class="about-book">
    <p class="about-book-p">About Book</p>
    <p>{{ books.description }}</p>
  </div>
  <hr class="style18" />
  <!-- Product Details Page Start From here -->
  <div class="top-second">
    <p class="product-details-heading">Product Details</p>
    <div class="table">
      <p>ISBN :-</p>
      <p>{{ books.isbn }}</p>
    </div>
    <div class="table">
      <p>Publisher Name :-</p>
      <p>{{ books.publishers.publisherName }}</p>
    </div>
    <div class="table">
      <p>Publisher Country :-</p>
      <p>{{ books.publishers.country }}</p>
    </div>
    <div class="table">
      <p>Page Count :-</p>
      <p>{{ books.pageCount }}</p>
    </div>
    <div class="table" *ngIf="true == books.bookStatus">
      <p>Page Staus :-</p>
      <p>PUBLISHED</p>
    </div>
    <div class="table" *ngIf="false == books.bookStatus">
      <p>Page Staus</p>
      <p>NOT PUBLISHED</p>
    </div>
    <div class="table">
      <p>Publish Date and Time :-</p>
      <p>{{ books.publishDate | date }}</p>
    </div>
  </div>
  <hr class="style18" />
  <!-- For Ratings -->
  <div class="just-for-fun">
    <p>Ratings Posted By User:-</p>

    <div class="scroll">
      <div class="list-ratings">
        <div class="ratings-of-book" *ngFor="let rating of books.listRatings">
          <div class="empty"></div>
          <div class="ratings-flex-box-1">
            <p class="ratings-of-book-username">
              <img src="assets\user-placeholder.svg" style="width: 24px; height: 24px" alt="" />
              {{ rating.user.username }}
            </p>
          </div>
          <p class="ratings-of-book-rating">
            Ratings Given:- {{ rating.rating }} ⭐
          </p>
          <p class="ratings-of-book-username">
            Posted Date :- {{ rating.ratingPostDate | date }}
          </p>
          <div class="ratings-of-book-comments">
            <p>review :- {{rating.comment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height: 120px"></div>